
{% extends "base.html" %}
{% block content %}
<table class="table table-borderless">
 <thead class="border-bottom font-weight-bold">
   <tr>
       <td>Employee Id</td>
       <td>Employee Name</td>
       <td>Designation</td>
       <td>Position</td>
       <td>
       <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
        <i class="fas fa-plus fa-lg"></i> Add New
      </a>
       </td>
   </tr>
 </thead>
<tbody>
{% for p in employee_list %}
<tr>
    <td>{{ p.empid }}</td>
    <td>{{ p.empname }}</td>
    <td>{{ p.designation }}</td>
    <td>{{ p.position }}</td>
    <td>
      <a href="{% url 'employee_update' p.id %}" class="btn text-secondary px-0">
        <i class="far fa-edit fa-lg"></i>
      </a>
       <form action="{% url 'employee_delete' p.id %}" method="post" class="d-inline">
           {% csrf_token %}
           <button type="submit" class="btn">
               <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
           </button>
       </form>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
